<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ff2600</string>
	<string>ffa941</string>
	<string>fffb00</string>
	<string>13d101</string>
	<string>0051ff</string>
	<string>7b2cd6</string>
	<string>000000</string>
	<string>797979</string>
	<string>ffffff</string>
</array>
</plist>
